// Code source:
// https://webdesign.tutsplus.com/tutorials/2-ways-to-create-an-animated-particle-background--cms-30224

@for $i from 1 through 32 {
    @-webkit-keyframes skill-animation-#{$i} {
      100% {
        -webkit-transform: translate3d(((random(90)-50)* 1vw), (random(90) * 1vh), (random(100) * 1px));
                transform: translate3d(((random(90)-50)* 1vw), (random(90) * 1vh), (random(100) * 1px));
      }
    }
    
    @keyframes skill-animation-#{$i} {
        100% {
            -webkit-transform: translate3d(((random(90)-50)* 1vw), (random(90) * 1vh), (random(100) * 1px));
            transform: translate3d(((random(90)-50)* 1vw), (random(90) * 1vh), (random(100) * 1px));
        }
    }
    
    .skill:nth-child(#{$i}){
        animation: skill-animation-#{$i} 60s infinite;
        animation-delay: -$i * .2s;
        transform: translate3d(((random(90)-50) * 1vw), (random(90) * 1vh), (random(100) * 1px));
    }
}