.skill:nth-child(1) {
    transform: translate3d(-33vw, 70vh, 3px);
  }
  .skill:nth-child(2) {
    transform: translate3d(31vw, 78vh, 85px);
  }
  .skill:nth-child(3) {
    transform: translate3d(-43vw, 79vh, 98px);
  }
  .skill:nth-child(4) {
    transform: translate3d(39vw, 68vh, 88px);
  }
  .skill:nth-child(5) {
    transform: translate3d(1vw, 7vh, 31px);
  }
  .skill:nth-child(6) {
    transform: translate3d(-43vw, 57vh, 6px);
  }
  .skill:nth-child(7) {
    transform: translate3d(39vw, 83vh, 98px);
  }
  .skill:nth-child(8) {
    transform: translate3d(-45vw, 23vh, 81px);
  }
  .skill:nth-child(9) {
    transform: translate3d(-10vw, 32vh, 85px);
  }
  .skill:nth-child(10) {
    transform: translate3d(9vw, 65vh, 72px);
  }
  .skill:nth-child(11) {
    transform: translate3d(30vw, 22vh, 98px);
  }
  .skill:nth-child(12) {
    transform: translate3d(15vw, 63vh, 54px);
  }
  .skill:nth-child(13) {
    transform: translate3d(20vw, 26vh, 72px);
  }
  .skill:nth-child(14) {
    transform: translate3d(-38vw, 47vh, 96px);
  }
  .skill:nth-child(15) {
    transform: translate3d(-18vw, 47vh, 96px);
  }
  .skill:nth-child(16) {
    transform: translate3d(-15vw, 10vh, 100px);
  }
  .skill:nth-child(17) {
    transform: translate3d(-23vw, 37vh, 71px);
  }
  .skill:nth-child(18) {
    transform: translate3d(-41vw, 68vh, 76px);
  }
  .skill:nth-child(19) {
    transform: translate3d(22vw, 41vh, 48px);
  }
  .skill:nth-child(20) {
    transform: translate3d(34vw, 80vh, 72px);
  }
  .skill:nth-child(21) {
    transform: translate3d(28vw, 4vh, 42px);
  }
  .skill:nth-child(22) {
    transform: translate3d(24vw, 67vh, 71px);
  }
  .skill:nth-child(23) {
    transform: translate3d(8vw, 26vh, 6px);
  }
  .skill:nth-child(24) {
    transform: translate3d(-26vw, 60vh, 74px);
  }
  .skill:nth-child(25) {
    transform: translate3d(-8vw, 77vh, 29px);
  }
  .skill:nth-child(26) {
    transform: translate3d(44vw, 48vh, 26px);
  }
  .skill:nth-child(27) {
    transform: translate3d(-20vw, 43vh, 83px);
  }
  .skill:nth-child(28) {
    transform: translate3d(34vw, 34vh, 60px);
  }
  .skill:nth-child(29) {
    transform: translate3d(16vw, 78vh, 24px);
  }
  .skill:nth-child(30) {
    transform: translate3d(-29vw, 5vh, 20px);
  }
  .skill:nth-child(31) {
    transform: translate3d(-31vw, 15vh, 70px);
  }
  .skill:nth-child(32) {
    transform: translate3d(3vw, 35vh, 28px);
  }
  