html {
    scroll-behavior: smooth;
    z-index: 0;
    /* background: linear-gradient(white, blue); */
    background-color: #405885;
}

a {
    color: black;
}

#brand {
    margin-left: calc(50% - 70px);
}

#particle-container{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100vh;
}

#home{
    height: 100vh;
    background-color: #405885;
    /* z-index: 0; */
}

#skills{
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100vh;
    /* margin :57px 0px 100px 0px; */
    /* margin-top: 57px; */
    /* background-color: yellow; */
    display: none;
}

.skill{
    position: absolute; 
    z-index: inherit;
}

.intro{
    /* margin-top: 20px; */
    color: white;
    /* center everything */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%, -50%);
    z-index: 40;
}

.intro img {
    margin-bottom : 50px;
}

.intro p{
    /* color: rgb(255, 165, 48); */
    font-size: 15px;
}

.intro a:hover, .intro a {
    color: white;
    z-index: 50;
}

#about {
    min-height: 100vh;
    /* background-color: rgb(224,116,136); */
    /* background-color: #50aca2; */
    color: white;
    /* padding: 100px; */
    display: none;
    /* z-index: 0; */
}

#dev{
    /* margin: auto; */
    width: 65%;

    /* center everything */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circular{
    width: 350px;
    height:350px;
}

#projects {
    /* background-color: #50aca2; */
    color: white;
    padding: 100px 0px;
    min-height: 100vh;
    background: linear-gradient(#50ac9c, #405885);
    border:none;
}

#fullstack, #frontend, #backend{
    margin:30px;
    border-radius: 25px;
    padding: 30px;
}

#fullstack{
    /* background-color:#ac505a; */
    /* text-align: center; */
}

#frontend{
    /* background-color:#D6A6AB; */
}

#backend{
    /* background-color:yellow; */
}

.cards{
    display: none;
    padding-top: 20px;
    /* padding-right: 100px;
    padding-left: 100px; */
    /* -webkit-align-items: flex-start; */
    /* align-items: flex-start; */
    /* z-index: 40; */
}

.thumbnail:hover{
    opacity: 0.7;
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 100px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 100px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

#footer {
    /* background-color: #405885; */
    color: white;
    /* border-width: 3px;
    border-color: #405885; */
}

#footer a:hover, #footer a {
    color: white;
}
/* 
@media screen and (max-width: 980px){
    .cards{
        padding-right: 150px;
        padding-left: 150px;
    }
}

@media screen and (max-width: 768px){
    .cards{
        padding-right: 80px;
        padding-left: 80px;
    }
}

@media screen and (max-width: 540px){
    #options {
        display: none;
    }

    .intro{
        margin-top: 40px;
    }
    #dev{
        width:100%;
    }
    .cards{
        padding-right: 50px;
        padding-left: 50px;
    }
} */