html {
    scroll-behavior: smooth;
}

#brand {
    margin-left: calc(50% - 70px);
}

#brand a {
    color: black;
}

#home{
    height: 100vh;
    background-color: #405885;
    
}

.intro{
    margin-top: 20px;
    color: white;
    /* center everything */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro img {
    margin-bottom : 50px;
}

.intro p{
    /* color: rgb(255, 165, 48); */
    font-size: 15px;
}

.intro a:hover, .intro a {
    color: white;
}

#about {
    height: 100vh;
    background-color: rgb(224,116,136);
    /* background-color: #50aca2; */
    color: white;
    /* padding: 100px; */
}

#dev{
    /* margin: auto; */
    width: 65%;

    /* center everything */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circular{
    width: 350px;
    height:350px;
}

#projects {
    background-color: #50aca2;
    color: white;
    padding: 100px 0px;
    min-height: 100vh;
}

.cards{
    padding-right: 150px;
    padding-left: 150px;
}

#footer {
    background-color: #405885;
    color: white;
}

#footer a:hover, #footer a {
    color: white;
}

@media screen and (max-width: 980px){
    .cards{
        padding-right: 150px;
        padding-left: 150px;
    }
}

@media screen and (max-width: 768px){
    .cards{
        padding-right: 80px;
        padding-left: 80px;
    }
}

@media screen and (max-width: 540px){
    #options {
        display: none;
    }
    .cards{
        padding-right: 50px;
        padding-left: 50px;
    }
}